* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./photo_site_img/photo_site_img/background.png);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.logo {
  width: 100px;
  margin-left: 150px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links ul {
  margin-right: 70px;
}

.nav-links ul li {
  display: inline-block;
  margin: 50px;
}

.nav-links ul li :hover {
  color: crimson;
}
.nav-links ul li a {
  text-decoration: none;
  color: #fff;
}
.cover h1 {
  color: #fff;
  font-size: 60px;
  margin-left: 100px;
  margin-bottom: 20px;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.searchBox {
  padding: 10px;
  background: #fff;
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 20px;
  border-radius: 100px;
}

.searchBox input {
  outline: none;
  border: 0;
  width: 900px;
  margin-left: 40px;
}
#upload {
  border-radius: 50px;
  background-color: crimson;
  padding: 10px 50px;
  transition: transform 1s;
}
#upload :hover {
  transform: scale(0.9);
}
.searchIcon {
  width: 50px;
}

.content p {
  color: #fff;
  margin-left: 90px;
}
.content a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.content a:hover {
  color: crimson;
}
.gallery {
  padding: 10%;
}
.gallery h2 {
  font-size: 25px;
  font-weight: 600;
  margin: 20px 12px;
}
.masonary {
  display: flex;
  flex-flow: column wrap;
  max-height: 1800px;
  margin: auto;
  width: 100%;
}
.m-bloc {
  width: 33.333%;
  padding: 12px;
  box-sizing: border-box;
}
.m-bloc img {
  width: 100%;
  cursor: pointer;
  transition: transform 1s;
}
.m-bloc img:hover {
  transform: scale(1.05);
}
.exploreMore a {
  display: block;
  background-color: crimson;
  text-decoration: none;
  width: 50%;
  max-width: 350px;
  color: white;
  padding: 12px 0px;
  text-align: center;
  border-radius: 30px;
  margin: 60px auto;
  transition: transform 1s;
}
.exploreMore a :hover {
  transform: scale(1.05);
}
.exploreMore h2 {
  color: gray;
  margin: 60 auto;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}
.pictures {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pictures-col {
  flex-basis: 25%;
  text-align: center;
}
.pictures-col img {
  width: 90%;
  cursor: pointer;
  transition: 0.5s;
}
.pictures-col img:hover {
  transform: translateY(-10px);
}
.customers {
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  margin: 80px 0;
}
.About {
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  margin: 120px 0;
}
.About p {
  color: gray;
  line-height: 25px;
}
.copyright p {
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: #ebebeb;
  color: gray;
  font-size: 17px;
  padding: 25px;
}
